<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
<div style="border: 1px solid green">
	<div class="row">
		<div class="one column">
			<a th:href="@{/}">main</a>
		</div>
		<div class="one column">
			<a th:href="@{/form}">form</a>
		</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
		<div class="one column">One</div>
	</div>
</div>
</header>
</html>